*{
  box-sizing: border-box;
  margin:0;
  padding:0;
}
.App{
  min-height: 100vh;
  text-align: center;
  display:flex;
  background-color:rgb(83, 83, 202);
}
.quote{
  margin:auto;
  width:100%;
  max-width:400px;
  min-height:180px;
  padding:30px;
  background-color:#403f3f;
  border-radius:4px;
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  -ms-border-radius:4px;
  -o-border-radius:4px;
  box-shadow:4px 4px 1px;
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  align-items:flex-start;
}
p{
  color:white;
  font-size:17px;
  word-wrap:break-word;
}
p:last-of-type{
  margin:10px 0
}
button{
  border:none;
  outline:none;
  margin-right:12px;
}

a{
  text-decoration:none;
  display:inline-block;
  text-align:center;
}
.btn{
  background-color:rgb(83, 83, 202);
  color:white;
  width:80px;
  padding:7px 0;
  font-size:14px;
  cursor:pointer;
  transition: all 700ms ease-in-out;
  -webkit-transition: all 700ms ease-in-out;
  -moz-transition: all 700ms ease-in-out;
  -ms-transition: all 700ms ease-in-out;
  -o-transition: all 700ms ease-in-out;
}
.btn:hover{
  background:rgb(64, 64, 210);

}